body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, lavender, white);
    background-image: url('assets\download.jpeg');
    /* Replace with your theme image URL */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    max-width: 100px;
    margin-bottom: 45px;
}